<!--content-->
<div class="content">
    <div class="container">
        <div class="row" style="margin-top:60px">
            <form ng-submit="login()" name="loginForm" id="login-form" method="post" role="form" >
                <div class="row col-md-offset-2">
                    <div class="col-xs-2" style="margin: 0; padding: 0;">
                        <select class="form-control">
                            <option value="1">硬件ID</option>
                            <option value="2">设备名称</option>
                        </select>
                    </div>
                    <div class="col-xs-5" style="margin: 0; padding: 0;">
                        <input ng-model="userModel.username" type="text" id="loginform-username" class="form-control">
                    </div>
                    <div class="col-xs-1" style="margin: 0; padding: 0;">
                        <button type="submit" class="btn btn-primary" name="login-button">搜索</button>
                    </div>
                </div>

            </form>
        </div>

        <h5 class="page-header"></h5>

        <div class="row">
            <div class="col-md-12">
                驱动名称：audio_realtek_6.0.1.7040_all.exe
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div class="col-md-3">
                驱动大小：480MB
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div class="col-md-10">
                SHA256：061436cd6c43252d2eb21b08197d696e9c02cd0867ff3a263f1e914ed4d4b71a
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div class="col-md-12">
                安装方式：直接运行EXE安装
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div class="col-md-12">
                驱动说明：网卡驱动
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div class="col-md-12">
                下载地址：<a type="button" class="btn btn-default">点击下载</a>
            </div>
        </div>

        <div class="row" style="margin-top: 5px;">
            <div class="col-md-12">
                下载地址2：<a type="button" class="btn btn-default">点击下载</a>
            </div>
        </div>
    </div>
</div>
