<!--
<h1>home</h1>

<p>Welcome to <b>{{name}}</b> Page.</p>
<p>You can switch menu to load others.</p>

<p>Welcome to <b>{{'Login'|I18N}}</b> Page.</p>
-->

<!--banner-->
<!-- banner-------------------------------------------------------------------------------- -->
<div>
</div>


<!--content-->
<!-- content-------------------------------------------------------------------------------- -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <form ng-submit="login()" name="loginForm" id="login-form" method="post" role="form" >
                    <div class="form-group required">
                        <input ng-model="userModel.username" type="text" id="loginform-username" class="form-control">
                        <button type="submit" class="btn btn-primary" name="login-button">搜索</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--//content-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
$(function() {
    $('a.picture').Chocolat();
});
</script>
